@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}

.header {
  text-align: center;
  background: white;
   
  box-shadow: 0px 8px 18px rgb(0 0 0 / 3%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.logo {
  margin: 10px;
  width: 600px;
}

.header nav {
  background-color: black;
  line-height: 50px;
  text-align: left;
}
.header nav a {
  text-decoration: none;
  color: whitesmoke;
  margin-left: 40px;
  padding: 5px;
  font-size: 25px;
}
.header nav a:hover {
  background-color: lightgray;
}


 .cart-item {
  nargin-top:0;
  text-align:right;
  padding-right:100px;
  padding-top:0px;
  color:#ffac3e;
  font-weight:600;
}